{{$value := (raw_value_of .ResourceValue .Meta)}}
{{if (or (not (is_new_record $value)) (has_create_permission .Meta))}}
  <div class="signle-edit qor-field">
    <label class="qor-field__label" for="{{.InputId}}">
      {{meta_label .Meta}}
    </label>

    <div class="qor-field__block">
      <fieldset id="{{.InputId}}" class="qor-fieldset">
        {{if is_new_record $value}}
          {{render_nested_form $value (edit_sections .Meta.Resource) -1 "new"}}
        {{else}}
          {{render_nested_form $value (edit_sections .Meta.Resource) -1}}
        {{end}}
      </fieldset>
    </div>
  </div>
{{end}}
