{{if .CurrentUser}}
    <button class="qor-mobile--show-actions" style="display: none;">{{t "qor_admin.layout.header.actions" "Actions"}} <i class="material-icons">arrow_drop_down</i></button>
{{end}}
