<div class="qor-actions">
  <div class="qor-action-advanced-filter">
    <label class="mdl-button mdl-button--colored" type="button">
      <span class="qor-notifications__unread">20</span>
      {{t "qor_admin.actions.advanced_filter" "Advanced Filter"}}
    </label>
  </div>

  <div class="qor-filter__block qor-filter__dropdown clearfix" style="display: none;">
    My Filter
  </div>
</div>
