<!DOCTYPE html>
<html lang="en-US">
  <!--
    ,-----.    ,-----.  ,------.
    '  .-.  '  '  .-.  ' |  .--. '
    |  | |  |  |  | |  | |  '--'.'
    '  '-'  '-.'  '-'  ' |  |\  \
    `-----'--' `-----'  `--' '--'
    ENTERPRISE CONTENT MANAGEMENT SYSTEM
  -->
  <head>
    {{$title := page_title}}
    <title>{{if $title}}{{$title}} - {{end}}{{if .Admin.SiteName}}{{t .Admin.SiteName}}{{else}}{{t "Qor Admin"}}{{end}}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    {{stylesheet_tag "qor_admin_default"}}
    {{load_admin_stylesheets}}
    {{load_theme_stylesheets}}
    {{javascript_tag "vendors"}}
  </head>

  <body class="{{if qor_theme_class}}{{qor_theme_class}}{{end}}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="mdc-typography qor-layout">
      
      <header class="mdc-top-app-bar mdc-top-app-bar--short">
        <div class="mdc-top-app-bar__row">
          {{$actions := load_actions "header" }}
          {{if $actions}}
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
              {{$actions}}
            </section>
          {{end}}
        </div>
      </header>

      <aside class="mdc-drawer mdc-drawer--permanent">
        <nav class="mdc-drawer__drawer">
          <div class="mdc-drawer__content">
            {{render "shared/sidebar"}}
          </div>
        </nav>
      </aside>

      

      <main class="mdl-layout__content qor-page" id="content" style="display: none;">
        {{.Content}}
      </main>
    </div>

    <!-- JavaScripts -->
    {{javascript_tag "qor_admin_default"}}
    {{load_admin_javascripts}}
    {{load_theme_javascripts}}
  </body>
</html>
