<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    <label class="qor-field__label mdl-textfield__label">
      {{t (printf "%v.filter.%v" .Resource.ToParam .Filter.Label) .Filter.Label}}
    </label>

    {{ $opt := .Context.Request.URL.Query.Get (print .InputNamePrefix ".Operation") }}
    <select name="{{.InputNamePrefix}}.Operation">
      <option value="eq" {{if (eq $opt "eq")}}selected{{end}}>Equals</option>
      <option value="gt" {{if (eq $opt "gt")}}selected{{end}}>Greater than</option>
      <option value="lt" {{if (eq $opt "lt")}}selected{{end}}>Less than</option>
    </select>

    {{ $value := .Context.Request.URL.Query.Get (print .InputNamePrefix ".Value") }}
    <div class="qor-field__edit">
      <input class="mdl-textfield__input" type="text" name="{{.InputNamePrefix}}.Value" value={{$value}}>
    </div>
  </div>
</div>


