<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    <label class="qor-field__label mdl-textfield__label">
      {{t (printf "%v.filter.%v" .Resource.ToParam .Filter.Label) .Filter.Label}}
    </label>

    <select>
      <option>Contains</option>
      <option>Start with</option>
      <option>End with</option>
    </select>

    <div class="qor-field__edit">
      <input class="mdl-textfield__input" type="text" name="{{.InputNamePrefix}}.Value">
    </div>
  </div>
</div>

